@page "/"
@using Darnton.Blazor.DeviceInterop.Geolocation
@inject IGeolocationService _geolocationService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (location is not null)
{
    <p>@location.Coords.Latitude</p>
    <p>@location.Coords.Longitude</p>
    <p>@location.Coords.Accuracy</p>
}

@code {

    GeolocationPosition? location;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await _geolocationService.GetCurrentPosition();
            if (result.IsSuccess)
            {
                location = result.Position;
                StateHasChanged();
            }
        }
    }
}