@page "/"
@inject IGeolocationService _geolocationService
@inject IKmlService _kmlService

<PageTitle>Index</PageTitle>

<h1>BlazorGeolocationDemo</h1>

@if (location is not null)
{
    <p>Latitude: @location.Coords.Latitude</p>
    <p>Longitude: @location.Coords.Longitude</p>
}
@if (!string.IsNullOrWhiteSpace(city))
{
    <p>City: @city</p>
}

@code {

    GeolocationPosition? location;
    string? city = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _kmlService.GenerateCity();
            var result = await _geolocationService.GetCurrentPosition();
            if (result.IsSuccess)
            {
                location = result.Position;
                city = _kmlService.GetCity(location.Coords.Latitude, location.Coords.Longitude);
                StateHasChanged();
            }
        }
    }
}